#header{
	height: 73px;
    background: #fff;
	position: relative;
}
.nav{
	width: 1100px;
	margin: 0 auto;
	height: 73px;
}
.bottom-line{
	position: absolute;
	bottom: 0;
    width: 100%;
    height: 1px;
	background: url(../img/header/border.png) repeat-x;
}
/* logo图标 */
.h-logo{
	width: 290px;
	height: 70px;
	float: left;
}
.h-logo a{
	display: inline-block;
	width: 290px;
	height: 70px;
	background: url(../img/header/modules.png) no-repeat 0 9999px;
	background-position: 0px -48px;
}
/* 搜索框 */
.search-bar{
	width: 300px;
	height: 69px;
	margin-top: 1px;
	margin-left: 334px;
	float: left;
	position: relative;
}
.search-bar form{
	width: 100%;
	height: 38px;
	margin-top: 15px;
	background: url(../img/header/modules.png) no-repeat 0 9999px;
	background-position: 0px -0px;
}
.search-bar form input{
	width: 230px;
	margin: 10px 0 0 34px;
	background: transparent;
	border: 0;
}
.search-bar form input:focus{
	border: 0;
	outline: none;
}
.search-content{
	position: absolute;
	z-index: 100;
	top: 60px;
	width: 300px;
	height: auto;
	background-color: #fff;
	box-shadow: 0 2px 7px #555;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	border: 1px solid #cecece\0;
	border-top: none\0;
	padding-bottom: 10px;
}
.search-content li{
	height: 35px;
	line-height: 35px;
	padding-left: 24px !important;
}
.search-content h4{
	height: 35px;
	line-height: 35px;
	padding-left: 24px !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.search-content li:hover{
	background-color: #f5f5f5;
}
.search-content li a{
	display: inline-block;
	color: #888;
	font-size: 14px;
	width: 100%;
}
/* 购物车图标 */
.cart-icon{
	width: 36px;
	height: 36px;
	float: left;
	margin: 17px 0 0 41px;
}
.cart-icon a{
	display: inline-block;
	width: 36px;
	height: 36px;
	background: url(../img/header/modules.png) no-repeat 0 9999px;
	background-position: -110px -158px;
	cursor: pointer;
	position: relative;
}
.cart-icon a span{
	position: absolute;
	top: -8px;
	left: 26px;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	background: url(../img/header/modules.png) no-repeat 0 9999px;
	background-position: -156px -158px;
}
/* 用户头像等 */
.user-item{
	width: 62px;
    height: 36px;
    margin: 15px 0 0 37px;
	float: left;
	position: relative;
}
.arr-d{
	background: url(../img/header/arrow-d.png) no-repeat 110% center;
}
.arr-u{
	background: url(../img/header/arrow-u.png) no-repeat 110% center;
}
.user-item img{
	width: 36px;
    height: 36px;
    border-radius: 50%;
}
.user-item .login{
	width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
}
.user-item ul{
	position: absolute;
    z-index: 100;
    top: 54px;
    left: -61px;
    width: 160px;
    height: auto;
    box-shadow: 0 4px 7px #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    border: 1px solid #cecece\0;
    border-top: none\0;
}
.user-item ul li{
	padding-left: 24px;
    font-size: 12px;
    color: #333;
    background-color: #fff;
}
.user-item ul li.logout-border{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.user-item ul li:hover{
	background-color: #f5f5f5;
}
.user-item ul li a{
	display: block;
    width: 134px;
    padding-left: 1px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
	color: #000;
	position: relative;
}
.user-item ul li a em{
	display: inline-block;
    position: relative;
    top: 4px;
    width: 18px;
    height: 18px;
    margin-right: 9px;
}
.user-item ul li a span{
	position: absolute;
	left: -24px;
}
.user-item i{
	position: absolute;
    top: 36px;
    left: -61px;
    z-index: 100;
    width: 160px;
    height: 18px;
	background: url(../img/header/modules.png) no-repeat 0 9999px;
    background-position: 0px -128px;
}
em.order{
	background: url(../img/header/myorder.png) no-repeat;
}
em.cupon-icon{
	background: url(../img/header/logins.png) no-repeat 0 9999px;
	background-position: 0px -28px;
}
em.address{
	background: url(../img/header/logins.png) no-repeat 0 9999px;
	background-position: 0px -0px;
}
em.mainside{
	background: url(../img/header/logins.png) no-repeat 0 9999px;
	background-position: -28px -0px;
}
em.logout{
	background: url(../img/header/logins.png) no-repeat 0 9999px;
	background-position: -56px -0px;
}
em.qq,em.wechat{
	background: url(../img/header/logins.png) no-repeat 0 9999px;
}
em.phone{
	height: 16px;
    background: url(../img/header/phonelog.png) no-repeat;
}
em.wechat{
	height: 16px;
    background-position: -84px -0px;
}
em.qq{
	height: 16px;
    background-position: -112px -0px;
}
em.sina{
	height: 16px;
    background: url(../img/header/sina.png) no-repeat;
}
em.netease{
	background: url(../img/header/netease.png) no-repeat;
}
.loginbox{
	position: absolute;
	top: 300px;
	left: 35%;
	z-index: 999;
	width: 500px;
    height: 300px;
    border: 1px solid #d8d8d8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
	text-align: center;
}
.loginbox h3{
	margin-bottom: 70px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #d8d8d8;
}
.loginbox p{
	height: 40px;
	text-align: center;
	font-size: large;
}
.loginbox button{
	margin: 0 auto;
	font-size: large;
}
.loginbox span{
	color: red;
}
.loginbox .closelogin{
	display: block;
	height: 18px;
	width: 18px;
	background: url(../img/productdetail/chag.png) no-repeat;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}