.m-block {
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.m-block .mid-bold {
    font-weight: bold;
}
.m-block .mid-txt {
    font-size: 24px;
    color: #333;
}
.m-product .list {
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.m-product .list li {
    float: left;
    position: relative;
    width: 263px;
    height: 382px;
    padding-right: 16px;
}
.m-product .cover {
    width: 263px;
    height: 263px;
    background-color: #f9f9f9;
    cursor: pointer;
}
.m-product .cover img {
    width: 263px;
    height: 263px;
}
.m-product .cover .spec {
    width: 60px;
    height: 60px;
    top: 10px;
    left: 10px;
    background-color: #d33a31;
    border-radius: 50%;
    color: #fff;
}
.m-product .cover .spec .origin {
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.m-product .cover .spec .cut {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 13px;
    opacity: 0.7;
}
.m-product .cover .buying {
    width: 60px;
    height: 60px;
    top: 10px;
    left: 10px;
    background: url(../img/projectmain/ltt.png);
}
.m-product .cnt {
    margin-top: 10px;
}
.f-thide2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.m-product .cnt h3 {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #333;
}
.m-product .cnt h3 a:hover{
	text-decoration: underline;
}
.m-product .tag {
    overflow: hidden;
    box-sizing: border-box;
    line-height: 19px;
    padding: 0 3px;
    border-radius: 1px;
    color: #d74d45;
    font-size: 12px;
}
.m-product .tag-red {
    border: 1px solid #d74d45;
}
em, i {
    font-style: normal;
    text-align: left;
    font-size: inherit;
}
.m-product .cnt .txt {
    font-size: 16px;
    color: #d33a31;
}
.m-product .cnt p {
    padding-top: 4px;
}